# Exclure les sources TypeScript (on shippe le JS compilé dans /out)
src/**
tsconfig.json

# Cartes de source
**/*.map

# Dossiers d’éditeur & CI
.vscode/**
.devcontainer/**
.github/**
.husky/**

# Docs, exemples, tests, couvertures
docs/**
examples/**
test/**
tests/**
coverage/**
benchmarks/**
scripts/**

# Fichiers de config/dev non nécessaires au runtime
.eslintrc*
.eslintignore
.prettierrc*
.prettierignore
.editorconfig
.gitattributes
.gitignore
.npmrc
.yarnrc*
.pnpmfile.cjs

# Verrous & logs
package-lock.json
pnpm-lock.yaml
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node modules inutiles (conserver les deps runtime !)
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/example/**
node_modules/**/examples/**
node_modules/**/doc/**
node_modules/**/docs/**
node_modules/**/.bin/**
node_modules/**/README*
node_modules/**/readme*
node_modules/**/CHANGELOG*
node_modules/**/changelog*

# OS junk
.DS_Store
Thumbs.db

# Fichiers internes
README.dev.md
